body {

    background-color: white;
    color: black;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    text-align: right;
    letter-spacing: 1.5px;

}

.content-container img {
    display: none !important;
}

h1, p {
    margin: 0;
    padding: 1em;
    letter-spacing: 1.5px;
    color: black;
}

a {
    color: black;
    font-style: italic;
    text-decoration: none;
    letter-spacing: 1.5px;
}

a:hover {
    color: #6a89a7;
    font-style: italic;
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: flex-end; /* pushes content to the right */
    align-items: flex-start;
    padding: 2em;
}

.text-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

footer {
    text-align: right;
    padding: 20px;
    background: transparent; 
    color: white;
}


@media (max-width: 600px) {
    h1, p {
        font-size: 12px;
        padding: 0.5em;
    }

    .content-container {
        padding: 1em;
    }

    .text-container {
        width: 100%;
        max-width: none;
    }

    footer {
        padding: 15px 10px;
        text-align: center;
    }
}
