body {
    background-color: white;
    color: black;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

h1, p {
    margin: 0;
    padding: 1em;
    letter-spacing: 0.5px;
}

a {
    color: pink;
    text-decoration: none;
    letter-spacing: 0.5px;
}

a:hover {
    color: #ec2162;
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    gap: 20px;
    flex-wrap: wrap; /* Ensures items wrap on smaller screens */
}

.content-container img {
    width: 66.67%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    max-width: 700px;
}

.text-container p {
    font-size: 1rem;
    text-align: left;
    letter-spacing: 0.3px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: pink;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

@media (max-width: 600px) {
    h1, p {
        font-size: 12px;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .text-container {
        align-items: center;
    }
}

